body{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

#top-banner{
    padding-top: 30px;
    background-image: url(../images/bg/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 350px;
    color: white;
}

#banner-text h1{
    font-size: 45px;
    margin: 5px;
}

#banner-text p{
    margin-top: 50px;
    color:floralwhite;
}

.tomato-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#donate-now{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}

#donate-now h1{
    font-size: 2.0rem;
    color: green;

}

#donate-now p{
    margin-bottom: 10px;
    color: rgb(152, 147, 147);
    font-family: sans-serif;
}

.box-container{
    margin: 10px 80px;
    display: flex;
    justify-content: center;
}

.donate-box{
    margin-left: 20px;
    padding: 8px 2px;
    width: 100px;
    background-color: rgb(247, 246, 244);
    border-radius: 10px;
    color: rgb(139, 140, 140);
}

#selected-box{
    margin-left: 20px;
    padding: 8px 2px;
    width: 100px;
    border: 2px solid tomato;
    background-color: rgb(251, 225, 213);
    border-radius: 10px;
    color: tomato;
}

#donate-input-text{
    padding: 10px 220px 10px 210px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid grey;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    text-align: center;
}

#donate-input-text:focus{
    outline: none;
}

#donate-plan{
    margin-top: 9%;
    text-align: center;
}

#donate-plan h1{
    font-size: 2.0rem;
    color: green;
}

#donate-plan p{
    margin-bottom: 4%;
    color: rgb(152, 147, 147);
    font-family: sans-serif;
}

#donate-plan-box-food{
    background-color: rgba(79, 157, 166, 0.1);
    width: 60%;
    padding: 1% 2%;
    text-align: left;
    border-radius: 5px;
    margin-left: 2%; 
    font-size: 14px; 
}

#donate-plan-box-shelter{
    background-color: rgba(255, 89, 89, 0.1);
    width: 60%;
    padding: 1% 2%;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 0px;  
    margin-left: 2%;  
    font-size: 14px;
}

#donate-plan-box-frame{
    background-color: #FFF4D6;
    width: 60%;
    padding: 1% 2%;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 0px;  
    margin-left: 2%;  
    font-size: 14px;
}

.plan-box-details{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#recent-campaigns{
 text-align: center;
 margin-top: 5%;
}

#recent-campaigns h1{
    font-size: 2.0rem;
    color: rgb(15, 98, 15);
}

#campaign-container{
    display: flex;
}

#update-section{
    margin-top: 7%;
    text-align: center;
}

#update-section h1{
    font-size: 2.0rem;
    color: tomato;
    margin-bottom: 0px;;
}

#update-section-details{
    display: flex;
    justify-content: center;
}

#update-section-details p{
    width: 50%;
    margin-bottom: 10px;
    color: rgb(152, 147, 147);
    font-family: sans-serif;
}

#update-form-container{
    padding: 8% 1%;
    margin: 1% 20%;
    background-color: #FFF4D6;
}

#update-input{
    margin: 0px;
    height:30px;
    background-color: #D9D9D9;
    border-style: hidden;
    padding: 5px 5px;
}

#update-button{
    background-color: tomato;
    color: white;
    border: none;
    padding: 13px 15px;
}

footer{
    padding: 10px 10px;
    margin: 0px;
    background-color: black;
    text-align: center;
}

#footer-text{
    color: orange;
    margin: 0px;
}

footer p{
    margin: 0px;
    color: rgb(156, 156, 156)
}